@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Rubik", sans-serif;
}
.css-1xc3v61-indicatorContainer {
  padding: 0px !important;
}
.css-15lsz6c-indicatorContainer {
  padding: 0px !important;
}
.css-tj5bde-Svg {
  color: #4f89cb;
}
.css-tj5bde-Svg:focus {
  transform: rotate(180deg);
}

.header_login {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1086px;
  padding: 17px 0px;
}
.footer_login {
  background: #223260;
  min-height: 146px;
}
.my_application {
  text-decoration: none;
  margin-right: 65px;
  color: #223260;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.page {
  text-align: center;
  margin-top: 60px;
}
.page span {
  margin: 12px;
  background: #ffffff;
  border: 1px solid #eaf2f9;
  border-radius: 12px;
  width: 31px;
  height: 36px;
  padding: 10px;
}
.Toastify {
  border-radius: 10px;
}
.Toastify__progress-bar-theme--light {
  background: #223260 !important;
}
.Toastify__toast-theme--light {
  background: #4f89cb !important;
}
.Toastify__toast-body {
  color: white;
  border-radius: 10px;
}
/* .input_target2 {
  margin-top: 24px;
  width: 100%;
}
.input_target2 label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #223260;
  margin-bottom: 6px;
}
.input_target2 textarea {
  height: 113px;
  resize: none;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: calc(100% - 15px);
  display: block;
  font-weight: 400;
  font-size: 15px;
  padding-left: 15px;
  border: 1px solid #ffffff;
  padding-top: 15px;
  line-height: 18px;
  color: #223346;
  outline: none;
  outline: 0;
  font-family: "Rubik", sans-serif;
  
} */
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
@media (max-width: 450px) {
  .my_application {
    margin-right: 10px;
    font-size: 14px;
  }
}
@media (max-width: 356px) {
  .my_application {
    margin-right: 10px;
    font-size: 13px;
  }
}
