@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Rubik", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
a {
  text-decoration: none !important;
}
code {
  font-family: "Rubik", sans-serif !important;
}
.css-1xc3v61-indicatorContainer {
  padding: 0px !important;
  border: 2px solid #4f89cb;
  border-radius: 50%;
  margin: 0px 5px;
}
.css-15lsz6c-indicatorContainer {
  padding: 0px !important;
}
.rs-picker-toggle-value {
  color: black !important;
}
.css-1nmdiq5-menu {
  z-index: 9999999999999999 !important;
  color: black!important;
}
.css-tj5bde-Svg {
  color: #4f89cb;
}
.css-tj5bde-Svg:focus {
  transform: rotate(180deg);
}
.css-3vpw3a-IndicatorsContainer {
  margin: 11px 20px !important;
}
.css-15lsz6c-IndicatorsContainer {
  padding: 0px !important;
  border: 2px solid #4f95cb !important;
  border-radius: 50% !important;
  margin: 0px 5px !important;
}
.header_login {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1086px;
  padding: 17px 0px;
}
.footer_login {
  background: #223260;
  min-height: 146px;
}
.css-8mmkcg {
  color: #4f95cb;
}
.my_application {
  text-decoration: none;
  margin-right: 65px;
  color: #223260;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
::-webkit-calendar-picker-indicator {
  border-radius: 50%;
  color: #4f89cb;
}
.page {
  text-align: center;
  margin-top: 60px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  /*  grid-template-columns: repeat(auto-fill, minmax(43px, 1fr)); */
  gap: 1rem;
  /*   grid-template-columns: auto 1fr; */
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.err {
  border: 2px solid #e46c4b !important;
  border-radius: 12px;
}
.page span {
  margin: 12px;
  background: #ffffff;
  border: 1px solid #eaf2f9;
  border-radius: 12px;
  width: 31px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.input {
  width: 100%;
}
.rs-picker-toggle {
  min-height: 44px;
  align-items: center !important;
  display: flex !important;
  border-radius: 12px !important;
  border: none !important;
  width: 100% !important;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
  flex-wrap: wrap;
  flex-direction: column-reverse !important;
  align-items: baseline !important;
  align-content: flex-start!;
  font-weight: 400 !important;
  font-size: 15px !important;
  padding-left: 17px !important;
}
.rs-picker-toggle-caret {
  padding-top: 8px !important;
}
.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
  top: 12px !important;
  right: 12px !important;
}
.Toastify {
  border-radius: 10px;
}
.Toastify__progress-bar-theme--light {
  background: #223260 !important;
}
.Toastify__toast-theme--light {
  background: #4f89cb !important;
}
.Toastify__toast-body {
  color: white;
  border-radius: 10px;
}
.active {
  background: #eaf2f9 !important;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.notFoundResult {
  text-align: center;
}
.MdContentCopy:hover {
  background: #f1f3f4;
}
@media (max-width: 450px) {
  .my_application {
    margin-right: 10px;
    font-size: 14px;
  }
}
@media (max-width: 356px) {
  .my_application {
    margin-right: 10px;
    font-size: 13px;
  }
}
